.principal {
    background-image: url('../assets/images/dragonball.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-size: cover;
}

.table {
    visibility: hidden;
}

.gif {
    visibility: hidden;
}

.reiniciar {
visibility: hidden;

}

.img {
    max-width:300px;
    max-height:200px;
    width: auto;
    height: auto;
}

.ui-helper-center {
    text-align: center;
}